.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: #fff;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 10px;
}

.login-container label {
  margin-bottom: 5px;
 
}

.login-container input {
  margin-bottom: 10px;
  

  border-radius: 4px;
  border: none;

  outline: none;
  padding: 1.25rem;
  color: rgb(0, 0, 0);
}

.login-container button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-container button:hover {
  background: linear-gradient(
    to right,
    #03579f,
    #b8c96f
  ); /* Dégradé vert vers jaune */

  border: none; /* Facultatif : ajuster les bordures */
  transition: background 0.3s ease; /* Ajoute une transition douce */
}

.login-container .error {
  color: red;
  font-size: 14px;
}

.login-container .close{
  font-size: 2rem;
  margin: 1rem;
  align-self: flex-end;
}
